
.card {
    width: 360px;
    font-size: 0.9rem;
    background-color: #eeeeee;
    border-radius: 4px;
}

.card_image img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 4px;
    border-top-right-radius:4px;
}

.card_body {
    padding:0 12px;
}

.card_link {
    display: flex;
    justify-content: space-around;
}

.card_link a {
    margin: 12px 0;
    text-decoration: none;
}